* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
a {
    font-family: "Fraunces", serif;
}

.hero {
    background: url("./images/desktop/image-header.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
}

.top-nav,
.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}

.logo {
    display: inline-block;
    margin-top: 10px;
}

.nav-list {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}

.nav-link {
    margin: 0 25px;
    font-size: 18px;
}

.active {
    border: 1px white solid;
    border-radius: 50px;
    background-color: white;
    padding: 15px 30px;
    color: black;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13.5px;
}

.hero-tagline {
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    margin: 7.5% auto;
    letter-spacing: 7.5px;
}

.services {
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.services img {
    display: block;
    width: 100%;
}

.testimonials {
    padding: 10%;
    height: 100%;
}

.testimonials h3 {
    margin-top: 160px;
    margin-bottom: 81px;
    text-align: center;
}

.testimonials h4 {
    margin-top: 70px;
}

.testimonials-container {
    display: flex;
    align-items: center;
    margin-bottom: 160px;
}

.testimonials-container img {
    display: inline-block;
    border-radius: 100%;
    width: 72px;
    height: 72px;
}

.testimonial-1,
.testimonial-2,
.testimonial-3 {
    text-align: center;
    margin: 30px;
}

.testimonial-desc {
    margin-top: 60px;
}

.job-title {
    margin-top: 9px;
    font-size: 14px;
    opacity: 35%;
    color: A7AAADÏ;
}

.gallery {
    display: flex;
}

.img-container img {
    width: 100%;
}

footer {
    background: #90d4c6;
    text-align: center;
}

.footer-logo img {
    margin-top: 72px;
    filter: invert(38%) sepia(52%) saturate(469%) hue-rotate(118deg) brightness(40%) contrast(87%);
}

.footer-nav {
    justify-content: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
