* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Fraunces", serif;
  text-indent: 0px;
  text-align: center;
}

.hero {
  background: url("./images/desktop/image-header.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}

.top-nav,
.footer-nav,
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}

.logo {
  display: inline-block;
  margin-top: 10px;
}

.nav-list,
.social-list {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
}

.nav-link {
  margin: 0 25px;
  font-size: 18px;
}

.active {
  border: 1px white solid;
  border-radius: 50px;
  background-color: white;
  padding: 15px 30px;
  color: black;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13.5px;
}

.hero-tagline {
  font-size: 56px;
  text-transform: uppercase;
  text-align: center;
  margin: 7.5% auto;
  letter-spacing: 7.5px;
}

.services {
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.services img {
  display: block;
  width: 100%;
}

.services_section-desc-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}

.item h2,
.item a,
.item p {
  text-align: justify;
}

.item h2 {
  font-size: 40px;
}

.item p {
  font-size: 18px;
  color: #808397;
  margin-top: 32px;
  margin-bottom: 40px;
}

.item a {
  font-size: 15px;
  color: black;
  text-decoration: none;
  border-bottom: solid #fad400;
  width: 120px;
}

.cherry-container,
.orange-container {
  position: relative;
}

.cherry-img-text,
.orange-img-text {
  position: absolute;
}

.cherry-img-text,
.orange-img-text {
  left: 25%;
  bottom: 30px;
  width: 340px;
}

.cherry-img-text p,
.orange-img-text p {
  font-size: 16px;
  text-align: center;
}

.cherry-img-text,
.cherry-img-text p {
  color: #24554a;
}

.orange-img-text {
  color: #052c3b;
}

.orange-img-text p {
  color: #19536c;
}

.testimonials {
  padding: 0 10%;
  height: 100%;
}

.testimonials h3 {
  margin-top: 160px;
  margin-bottom: 81px;
  text-align: center;
  color: #a7aaad;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.testimonials h4 {
  margin-top: 70px;
}

.testimonials-container {
  display: flex;
  align-items: center;
  margin-bottom: 160px;
}

.testimonials-container img {
  display: inline-block;
  border-radius: 100%;
  width: 72px;
  height: 72px;
}

.testimonial-1,
.testimonial-2,
.testimonial-3 {
  text-align: center;
  margin: 30px;
}

.testimonial-desc {
  margin-top: 60px;
  color: #5b636d;
  font-size: 18px;
  line-height: 32px;
  font-weight: semi-bold;
}

.job-title {
  margin-top: 9px;
  font-size: 14px;
  opacity: 35%;
  color: #a7aaad;
}

.gallery {
  display: flex;
}

.img-container img {
  width: 100%;
  height: 100%;
}

footer {
  background: #90d4c6;
  text-align: center;
}

.footer-logo img {
  margin-top: 70px;
  filter: invert(38%) sepia(52%) saturate(469%) hue-rotate(118deg)
    brightness(40%) contrast(87%);
}

.footer-nav,
.social {
  justify-content: center;
}

.footer-nav .nav-link {
  margin: 40px 60px;
}

.social-list li {
  margin: 0 30px 70px 30px;
}

.social-list li,
.footer-nav li {
  color: #458d7e;
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 30px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
